








img.styled-image {
    
    
    height: 600px;
    width: 500px;
    margin: 0 auto;
    display: block;
    
    }

   

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    color: rgb(0, 0, 0);
    font-family: open sans, cursive, sans-serif;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    font-size: 60px;
}

#centered-text {
    text-align: center;
    font-family: "Comic Sans Ms", cursive, sans-serif;
}

.center2 {
    color: rgb(156, 12, 12)
}

.center3 {
    color: green;
}

.ingredients-box {
    border: 5px solid #333;
    padding: 20px;
}

.ingredients-box2 {
    border: 5px solid #333;
    padding: 20px;

}

body {
    background-color: rgba(207, 206, 184, 0.437);
}