








img.styled-image {
    
    
    height: 400px;
    width: 300px;
    margin: 0 auto;
    display: block;
    
    }

   

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    color: rgb(0, 0, 0);
    font-family: 'Playfair Display', serif;
    
    font-size: 55px;
    font-weight: 700;
    line line-height: 1.2;
}

#centered-text {
    text-align: center;
    font-family: "Comic Sans Ms";
}

.center2 {
    color: rgb(156, 12, 12)
}

.center3 {
    color: green;
}

.ingredients-box {
    border: 5px solid #333;
    padding: 20px;
}

.ingredients-box2 {
    border: 5px solid #333;
    padding: 20px;

}

body {
    background-color: rgba(207, 206, 184, 0.437);
}