h1 {
    font-size: 50px;
    color: rgb(254, 254, 254);
    text-shadow: 3px 3px 3px rgba(4, 15, 7, 0.3);
    padding: 2px;
    margin-bottom: 10px;
    font-family: roboto, cursive, sans-serif;
    text-align: center;
    
}

h2 {
    font-size: 20px;
    color: white;
    
    margin-bottom: 10px;
    font-family: Playfair Display, cursive, sans-serif;
    text-align: center;
}






.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    margin: 0;
}

.list li {
    margin: 5px 0;
}

.list li button {
    padding: 15px;
    border: 2px dotted gray;
    border-radius: 80px;
    box-shadow: 1px 1px 1px #15b617;
    background-color: black;

    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: "lato", cursive, sans-serif;
    cursor: pointer;

}

body {
    background-color: rgba(0, 0, 0, 0.717);
}