h1 {
    font-size: 60px;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(34, 85, 147, 0.5);
    padding: 10px 0;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    
}

h1::before {
    content: "";
  display: block;
  width: 50%;
  height: 5px;
  background-color: #ffffff;
  margin: 0 auto 10px auto;




}

h2 {
    font-size: 24px;
  color: #000000;
  text-shadow: 1px 1px 1px rgba(48, 48, 48, 0.5);
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  line-height: 1.5;
}

h2::before {
    content: "\2764";
    font-size: 28px;
    color: #eb5959;
    margin-right: 5px;
    animation: beat 1s ease-in-out infinite alternate;
  }

  @keyframes beat {
    to {
      transform: scale(1.3);
    }
  }
  




.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    margin: 0;
}

.list li {
    margin: 5px 0;
}

.list li button {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 80px;
    box-shadow: 1px 1px 1px #15b617;
    background-color: #008aff;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

}
.list li button:hover {
    background-color: #0066cc;
}

body {
    background-color: rgba(229, 222, 222, 0.958);
}


nav {
  
    display: flex;
    align-items: center;
    background-color: #3480cc;
    color: #3a3a3a;
    height: 80px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .menu-icon {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('menu-icon.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .menu-icon {
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
  }
  

  .header {
    flex: 1;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  input[type="text"] {
    padding: 12px;
    border: none;
    border-radius: 30px;
    margin-right: 8px;
    font-size: 18px;
    color: #333;
    background-color: #dddada;
  }
  
  button[type="submit"] {
    background-color: #262525;
    color: #f6f6f6;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #444;
  }

  